:root {
    --position: 5;
    --ball-x: 50;
    --ball-y: 50;

    --paddles-color: #670000;

    --ball-color: #15616d;

    --hue-background: 140;
    --saturation-background: 38%;
    --background-color: hsl(
        var(--hue-background),
        var(--saturation-background),
        70%
    );

    --font-playful: "Ole", cursive;
}

* {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    cursor: none;
}

body {
    margin: 0;
    background: var(--background-color);
}

.paddle {
    position: absolute;
    background-color: var(--paddles-color);
    width: 2vh;
    height: 15vh;
    box-shadow: #264653 0px 2px 3px;
}

.paddle.left {
    left: 2.5vw;
    top: calc(var(--position) * 1vh);
}

.paddle.right {
    right: 2.5vw;
    bottom: calc(var(--position) * 1vh);
}

.ball {
    position: absolute;
    background-color: var(--ball-color);
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    left: calc(var(--ball-x) * 1vw);
    top: calc(var(--ball-y) * 1vh);
    transform: translate(-50%, -50%);
    box-shadow: #264653 0px 4px 8px;
}

.score {
    display: flex;
    gap: 2vw;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--paddles-color);
    font-family: var(--font-playful);
    opacity: 0.8;
    box-shadow: #264653 0px 4px 8px;
    padding: 0 2px 0 2px;
}

#player-score,
#computer-score {
    flex-grow: 1;
    flex-basis: 0;
}

#player-score {
    text-align: right;
}
