*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(./cynthia-images/wonderland.jpg);
    background-size: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 95%;
}
.presentation-container {
    width: 25%;
    background-color: rgb(91, 223, 153);
    opacity: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 25px;
}
.presentation {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgba(223, 16, 68, 0.87);
    font-weight: bolder;
    opacity: 100%;
}
.score {
    font-size: x-large;
    font-weight: bold;
    color: rgba(223, 16, 68, 0.87);
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 0px;
    margin: auto;
    width: 80%;
    padding: 35px;
    background-color: rgb(29, 28, 28);
    opacity: 180%;
    border-radius: 25px;
}
.card {
    width: 200px;
    height: 180px;
    perspective: 1000px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(91, 223, 153);
    background-color: rgb(91, 223, 153);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 20px;
}   
.inner-card {
    border-radius: 25px;
    position: relative;
    width: 200px;
    height: 180px;
    text-align: center;
    transition: all 0.8s ease; /*timelaps to complete the transformation*/
    transform-style: preserve-3d;/*specifies the position of childelement to preserve its 3D position*/
    transform: rotateY(180deg);
}
/*new class created in JS for the .inner-card to allow toggle event to execute*/
.flipCard {
    transform: rotateY(180deg);
    transition: all 0.8s ease;
}
.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 0.8s ease;
}
.card-back {
    transform: scale(-1,1);/*to keep the image from mirroring when flipped */
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    text-align: center;
    transform-style: preserve-3d;
}
.front-img {
    width: 200px;
    height: 180px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}.card-body {
    border-bottom-left-radius: 25px;
}
.card-head {
    border-top-right-radius: 25px;
}
.playAgain-button{
    border-color: rgba(223, 16, 68, 0.87);
    border-radius: 18px;
    font-size: x-large;
    line-height: 40px;
    width: 50%;
    color: rgb(91, 223, 153);
    background-color: rgb(29, 28, 28);
}

