*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    justify-items: center;
}
.presentation {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-items: center;
}
.card {
    background-color: green;
    width: 200px;
    height: 180px;
    perspective: 1000px;
    border-radius: 25px;
    margin: 20px;
}   
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease; /*timelaps to complete the transformation*/
    transform-style: preserve-3d;/*specifies the position of childelement to preserve its 3D position*/
    transform: rotateY(180deg);
}
/*new class created in JS for the .inner-card to allow toggle event to execute*/
.flipCard {
    transform: rotateY(180deg);
    transition: all 0.8s ease;
}
.card-front{
    transform: rotateY(180deg);
    transition: all 0.8s ease;
}
.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 0.8s ease;
}
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;
}
/* with .card-back transform active standard shows front image */


.card-body {
    text-align: center;
}
.front-img {
    width: 200px;
    height: 150px;
}
img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
